* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

footer {
  background-color: #DA7569;
  height: 10vh;
  width: 100vw;
}

main {
  background-color: #F2E4D4;
}

main #choice {
  background-image: url(../image/index_bg.png);
  padding: 60px 0;
}

main #choice .acc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
}

main #choice .acc-btn .img {
  width: 290px;
}

main #choice .acc-btn .img img {
  width: 100%;
}

main #choice .acc-btn .text {
  margin: 40px 0;
  color: #333;
  text-align: center;
  font-weight: 600;
}

main #choice .acc-btn .text span {
  display: block;
}

main #choice .acc-btn .letter {
  border-radius: 10px;
  width: 290px;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 17px 0;
}

main #choice .fire {
  border: 5px solid #BC7C96;
  margin-right: 10px;
}

main #choice .fire .letter {
  background-color: #BC7C96;
}

main #choice .join {
  border: 5px solid #E0AB77;
  margin-left: 10px;
}

main #choice .join .letter {
  background-color: #E0AB77;
}

main #kitchen {
  width: 100vw;
  height: 1200px;
  background-color: #F2E4D4;
  color: #333;
}

main #kitchen .kitchen-title {
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #kitchen .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
}

main #kitchen .shop .introduce1 {
  border: 3px solid #A1A481;
}

main #kitchen .shop .introduce2 {
  border: 3px solid #BC7C96;
}

main #kitchen .shop .introduce3 {
  border: 3px solid #DA7569;
}

main #kitchen .shop .shop-introduce {
  border-radius: 5px;
  width: 900px;
  height: 180px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #kitchen .shop .shop-introduce .place {
  font-size: 24px;
  font-weight: bold;
}

main #kitchen .shop .shop-introduce p {
  font-size: 20px;
  width: 850px;
  margin: 0;
}

main #kitchen .shop .shop-introduce .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #kitchen .shop .shop-introduce .bottom .time-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #kitchen .shop .shop-introduce .bottom .time-box .time {
  background-color: #E5E5E5;
  border-radius: 20px;
  margin-right: 10px;
}

main #kitchen .shop .shop-introduce .bottom a {
  color: #DA7569;
  margin-right: 30px;
}



/*# sourceMappingURL=all.css.map */