footer {
    background-color: #DA7569;
    padding-top: 3rem;
    position: relative;
    @media screen and(max-width:768px) {
      padding-top: 1.5rem;
    }
    .container-lg{
      margin-top: 3rem;
      @media screen and(max-width:768px) {
        margin-top: 1rem;
      }
    }

    .row{
      margin-bottom: 3rem;
      @media screen and(max-width:768px) {
        margin-bottom: 1rem;
        padding: 0 1rem;
      }
    }
    .col-md-4{
      &:first-child{
        padding-left: 2rem;
        @media screen and(max-width:576px) {
          padding-left: 0;
        }
      }
    }


  .contactWrap{
      h6{
        // padding-left: 2rem;
      }
      i.fas{
        margin-right: 0.25rem;
      }
      @media screen and (min-width:992px) {
        i.fas{
          margin-right: 1rem;
        }
      }
      @media screen and(min-width:768px) {
        .social-media{
          display: none;
        }
      }
      

  }
  @media screen and(max-width:576px) {
    .helpWrap,.contactWrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .helpWrap{
      margin-top: 0 !important;
      margin-bottom: 1rem;
      *{
        width: 4rem;
        width: 220px;
      }
    }
    .contactWrap{
      &>*{
        width: 220px;
      }
    }
  }

  .lilicoco{
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    .social-media{
      width: 180px;
      justify-content: space-between;
      margin-top: .75rem;
      a{
        display:inline-block;
        width: 30%;
        img{
          width: 2.5rem;
        }
      }
    }
  }
  
  .copyright{
    background-color: $greenColor;
  }

  @media screen and(max-width:768px) {
    .lilicoco{
      margin-bottom: 1.5rem;
      .footer-logo{
        display: none;
      }
    }
  }
}  
  