header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
    padding: 0;
    background-color: white;


  .navbar-brand{
    padding: 0.125rem 0;
    
  }
  .navbar-toggler{
    color: $redColor;
    // border-color: transparent;
    outline: unset;
    border: unset;
    box-shadow: unset;
  }
  .navbar-nav{
    .nav-item {
      margin-right: 10px;

      .nav-link{
        font-size: 16px;
        font-weight: 600;
        color: $redColor;

      }
    }
  }
}
  