main{
    background-color: $themeColor;
    // width: 100vw;
    // height: 100vh;

    #choice{
        background-image: url(../image/index_bg.png);
        padding: 4rem 0;

        .acc-btn{
            // width: 450px;
            // height: 580px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            margin: auto;
            padding: 20px;
            transition: all .3s;
            *{
                transition: all .3s;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
            .img{
                width: 290px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .text{
                margin: 40px 0;
                color: $textColor;
                text-align: center;
                font-weight: 600;
                span{
                    display: block;
                }
            }
            .letter{
                border-radius: 10px;
                width: 290px;
                color: white;
                font-size: 24px;
                text-align: center;
                padding: 17px 0;
            }
        }
        .fire{
            border: 5px solid $purpleColor;
            margin-right: 20px;
            &:hover{
                border: 5px solid $purple_darker;
                .letter{
                    background-color: $purple_darker;
                }
            }
            .letter{
                background-color: $purpleColor;
            }
        }
        .join{
            border: 5px solid $teaColor;
            margin-left: 20px;
            &:hover{
                border: 5px solid $tea_darker;
                .letter{
                    background-color: $tea_darker;
                }
            }
            .letter{
                background-color: $teaColor;
            }
        }


    
    }
    
    // 平台資訊
    #information{
        @media screen and (max-width: 1300px){
            display: none;
            
        }  
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        .container0{
            display: none;
        }
        .container1{
            margin-top: 80px;
            position: relative;
            .row{               
                .news{       
                    text-align: center;
                    font-size: 24px;
                    display: flex;
                    align-items: center;              
                    .news-box{
                        font-weight: bold;
                        background-color: $orangeColor;
                        display: flex;
                        align-items: center;
                        width: 65px;
                        height: 100px;
                        position: absolute;
                        top: -5%;
                        left: 5%;
                    }
                    .news-context{
                        background-color:rgba(239,196,196,0.5); 
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        height: 80%;
                        width: 100%;
                        
                        .t{ 
                            width: 80%;
                            thead{
                                line-height: 2.5;                              
                            }
                            tbody{
                                .row{
                                    color: white;
                                    background-color: $redColor;
                                    border-radius: 50%;
                                    width: 50px;
                                    height: 50px;
                                    margin-top: 10px;
                                    margin-right: 5px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;                                 
                                }
                                .row3{
                                    margin-bottom: 10px;
                                }
                                
                            }
                        }

                    }
                }
                .advertise{
                    display: flex;
                    align-items: center;    
                    .swiper{
                        height: 80%;
                        .swiper-slide{
                            img{
                                height: 100%;
                            }
                            .mask{
                                opacity: 0.9;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 28px;
                                font-weight: bold;                           
                            }
                            .mask1{
                                background-color: #BFC783;
                            }
                            .mask2{
                                background-color: #E0AB77;
                            }                    
                        }
                        .swiper-button-prev{        
                            top: 54%;
                            height: 20px;   
                            width: 10px;             
                            background-image: url("/image/pic/left.png");
                            background-position: center;
                            background-size: cover;
                            &::after{
                                display: none;                     
                            }
                
                        }
                        .swiper-button-next{   
                            margin-top: -10px;        
                            width: 10px;    
                            height: 20px;            
                            background-image: url("/image/pic/right.png");
                            background-position: center;
                            background-size: cover;
                            &::after{
                                content: none;                             
                            }
                
                        }
                    } 
                                   
                }
            }
            
        }
        .container2{
            position: relative;
            margin-bottom: 40px;
            .row2{
                .rules{
                    font-size: 24px;
                    font-weight: bold;
                    display: flex;
                    .box {
                        background-color: $orangeColor;
                        display: flex;
                        align-items: center;                     
                        text-align: center;
                        width: 65px;
                        height: 100px;
                        position: absolute;
                    }
                    .price{
                        top: 10%;
                        left: -2%;
                    }
                    .time{
                        top: 55%;
                        left: -2%;
                    }
                    .rules-context{
                        background-color: #EAA69D;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        .rules-price{
                            padding: 40px 0 26px 0;
                            margin-bottom: 26px;
                            width: 75%;
                           p{
                               margin: 0;
                           }
                        }
                        .rules-time{
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px; 
                            margin-bottom: 40px;
                            .rules-time1{
                                display: flex;
                                column-gap: 10px;                                
                                .white-box{
                                    background-color: #E5E5E5;
                                    width: 53px;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
                .member{
                    font-size: 24px;
                    font-weight: bold;
                    display: flex;
                    .member-section{
                        display: flex;
                        flex-direction: column;
                        background-color: $orangeColor;  
                        width: 100%;
                        
                        .member-title-box{
                            display: flex;
                            justify-content: center;
                            .member-title{
                                background-color: #E8DBCC;
                                width: 150px;
                                height: 45px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 15px 0 20px 0;
                            }
                        }
                        .member-context{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-evenly;
                        
                            .member-card{
                                text-align: center;
                                img{
                                    width: 150px;
                                    height: 150px;
                                    margin-bottom: 20px;
                                }
                            } 
                            
                        }
                    }
                   
                   
                }
            }
        }
    }
    // 平台資訊rwd
    #information0{ 
        background-color: white;
        display: none;
        @media screen and (max-width: 1300px){
            display: block;
            
        }  
        .container1{   
            padding-left: 10%;       
            .table-price{
                font-size: 22px;
                font-weight: bold;
                .price-place{
                    position: relative;
                    .price-text{
                        font-size: 28px;
                        position: relative;
                        top: 20px;                    
                    }
                    .price-box{
                        margin-left: 2.5%;
                        background-color: #EEC7A0; 
                        width: 150px;
                        height: 30px;
                    }
                }
                .rules-place{
                    margin-top: 20px;
                    text-align: center;
                   
                }
                .time-place{
                    position: relative;
                    .time-text{
                        font-size: 28px;
                        position: relative;
                        top: 20px;                    
                    }
                    .time-box{
                        margin-left: 2.5%;
                        background-color: #EEC7A0; 
                        width: 150px;
                        height: 30px;
                    }
                }
                .real-time{
                    margin: 20px 0 40px 0;
                    .noon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                        p{
                            margin: 0 10px 0 0 ;
                        }
                        .noon-number{
                            width: 200px;
                            height: 45px;
                            background-color: #E5E5E5;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @media screen and (max-width: 360px){
                                width: 150px;                          
                            } 
                        }
                        

                    }
                    .night {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p{
                            margin: 0 10px 0 0 ;
                        }
                        .night-number{
                            width: 200px;
                            height: 45px;
                            background-color: #E5E5E5;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @media screen and (max-width: 360px){
                                width: 150px;                          
                            } 
                        }

                    }
                }
            }
        }
        .container2{
            font-size: 14px;
            display: none;
            @media screen and (max-width: 320px){
                display: block;                          
            } 

            img{
                width: 100%;
            }
            .news-place{
                margin: 20px 0;
                display: flex;
                justify-content: center;
                position: relative;
                .news-place-title{
                    font-size: 28px;
                    font-weight: bold;
                    position: absolute;
                }
                .news-place-box{
                    background-color: #EEC7A0; 
                    width: 150px;
                    height: 30px;
                    margin-top: 20px;
                    

                }
            }
            .news-text{
                .news-grid{
                    display: flex;
                    .number{
                        color: white;
                        background-color: $redColor;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;
                    }
                    .time{
                        margin: 5px 0 0 15px;
                    }
                    .content{
                        margin-top: 5px;
                    }
                    .content1{
                        margin-left: 45px;
                    }
                    .content2{
                        margin-left: 10px;
                    }
                    .content3{
                        margin-left: 60px;
                    }
                    
                }

            }
        }
    }
    // 平台資訊rwd768 團隊介紹 rwd320
    #information1{
        background-color: $orangeColor;
        display: none;
        @media screen and (max-width: 1300px){
            display: block;
                                  
         }  
        @media screen and (max-width: 450px){
            background-color: white;
                                 
        }  
        .container{
            .member-place{
                font-size: 28px;
                font-weight: bold;
                .member-place-title-place{
                    display: flex;
                    justify-content: center;
                    .member-place-title-box{
                        width: 150px;
                        height: 40px;
                        background-color: #E8DBCC;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 20px 0 30px 0;
                    }
                }               
                .member-place-content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 35px;
                    .member-place-part{                  
                        display: flex;
                        .member-place-card{
                            text-align: center;  
                            img{
                                @media screen and (max-width: 450px){
                                    width: 120px;
                                    height: 130px;
                                                         
                                }  
                            }                      
                        }
                        .card1{
                            margin-right: 30px;
                        }
                    }
                   
                }
                
            }
        }

    }

    // 使用流程
    #how-to-use{
        padding-top: 4rem;
        background-image: url(../image/index_bg.png);
        color: $textColor;
        text-align: center;
        .title{
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 4rem;
        }
        .row{   
            .col{
                .step-number{
                    display: flex;
                }
                .step-pic{
                    position: relative;
                    left: 3%;
                    bottom: 16%;
                    font-size: 24px;
                    font-weight: bold;
                    img{
                        width: 170px;
                        height: 150px; 
                        margin-bottom: 20px;
                    }  
                }
                .step-arrow{
                    position: relative;
                    left: 60%;
                    bottom: 130px;
                    font-size: 36px;
                }
            }
        }      
        @media screen and (max-width:1200px) {
            background-image: none;
            background-color: #fff;
            .row{
                flex-direction:column;
                align-items: center;
                .step{
                    width: 300px;
                    position: relative;
                    .step-pic{
                        top: -5rem;
                        left: 0.5rem;
                    }
                    .step-arrow{
                        left: 0;
                        bottom: 4rem;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
    // 商家介紹
    #kitchen{
        padding: 4rem 0;
        background-color: $themeColor;
        color: $textColor;

        .kitchen-heading{
            font-size: 36px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            margin-bottom: 4rem;
        }
        .shop{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            img{
                width: 250px;
                height: 250px;
            }
            .introduce1{
                border: 3px solid $greenColor; 
            }
            .introduce2{
                border: 3px solid $purpleColor; 
            }
            .introduce3{
                border: 3px solid $redColor; 
            }
            .shop-introduce{              
                border-radius: 5px;
                width: 75%;
                height: 80%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: white;

                .title{
                    font-size: 24px;
                    font-weight: bold;
                }
                p{
                    font-size: 20px;
                    width: 90%;
                    margin: 0;
                }
                .bottom{
                    display: flex;
                    justify-content: space-between;

                    .time-box{
                        display: flex;
                        .time{
                            background-color: #E5E5E5;
                            border-radius: 20px;
                            margin-right: 10px; 
                        }
                        
                    }
                    a{
                        color: $redColor;
                        margin-right: 30px;
                        
                    }
                }
            }
        }
        
    }

    // 我們的夥伴
    
}




