main{
    background-color: $themeColor;
    // width: 100vw;
    // height: 100vh;

    #choice{
        background-image: url(../image/index_bg.png);
        padding: 60px 0;

        .acc-btn{
            // width: 450px;
            // height: 580px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            margin: auto;
            padding: 20px;
            .img{
                width: 290px;
                img{
                    width: 100%;
                }
            }
            .text{
                margin: 40px 0;
                color: $textColor;
                text-align: center;
                font-weight: 600;
                span{
                    display: block;
                }
            }
            .letter{
                border-radius: 10px;
                width: 290px;
                color: white;
                font-size: 24px;
                text-align: center;
                padding: 17px 0;
            }
        }
        .fire{
            border: 5px solid $purpleColor;
            margin-right: 10px;
            .letter{
                background-color: $purpleColor;
            }
        }
        .join{
            border: 5px solid $teaColor;
            margin-left: 10px;
            .letter{
                background-color: $teaColor;
            }
        }


    
    }

    // 商家介紹
    #kitchen{
        width: 100vw;
        height: 1200px;
        background-color: $themeColor;
        color: $textColor;

        .kitchen-title{
            font-size: 36px;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }
        .shop{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1200px;
            .introduce1{
                border: 3px solid $greenColor; 
            }
            .introduce2{
                border: 3px solid $purpleColor; 
            }
            .introduce3{
                border: 3px solid $redColor; 
            }
            .shop-introduce{              
                border-radius: 5px;
                width: 900px;
                height: 180px;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .place{
                    font-size: 24px;
                    font-weight: bold;
                }
                p{
                    font-size: 20px;
                    width: 850px;
                    margin: 0;
                }
                .bottom{
                    display: flex;
                    justify-content: space-between;

                    .time-box{
                        display: flex;
                        .time{
                            background-color: #E5E5E5;
                            border-radius: 20px;
                            margin-right: 10px; 
                        }
                        
                    }
                    a{
                        color: $redColor;
                        margin-right: 30px;
                        
                    }
                }
            }
        }
        
    }
}



#partner{
    text-align: center;
    align-items: center;
    font-weight: bolder;
    background-image:url(../image/5591276.jpg); 
    background-size:1920px 900px;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    font-size:20px;
    .container{
        .p{
            text-align: center;
            align-items: center;
        }
    } 

    .pill{
        width: 800px;
        height: 150px;
        background-color: $purpleColor;
        border-radius: 100px;
        position: absolute;
        left: calc(50% - 400px);
        bottom: -65px;
        margin: 0px;
        line-height: 150px;
        font-size:75px;
        color: aliceblue;
    }
    .location{
    display: flex;
    align-items: center;
    justify-content: center;
    .city{
        width: 150px;
        height: 200px;
        border-radius: 20px;
        margin: 0px 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .name{
            width: 80px;
            height: 30px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: calc(50% - 40px);
            top: -15px;
            
    
        }
    }
    .green{
        border: 2px solid green;
        .name{
            background-color: green;
        }
    }
    .orange{
        border: 2px solid orange;
        .name{
            background-color: orange;
        }
    }
    .red{
        border: 2px solid red;
        .name{
            background-color: red;
        }
    }
    .blue{
        border: 2px solid blue;
        .name{
            background-color: blue;
        }
    }
    .yellow{
        border: 2px solid yellow;
        .name{
            background-color: yellow;
        }
    }

}
}
