$themeColor: #F2E4D4;
$theme_darker:#D9CDBE;
$theme_shadow:#C3B8AB;

$redColor:#DA7569;
$second_red:#EAA69D;
$pinkColor:#EFC4C4;
$greenColor:#A1A481;
$purpleColor:#BC7C96;
$purple_darker: #9C506F;

$orangeColor:#EEC7AE;
$teaColor: #E0AB77;
$tea_darker:#ba8a63;

$textColor:#333;