nav.navbar-expand{
    justify-content:space-between;

}


#content{
    .send-btn{
        margin-bottom: 50px;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        
      
    }
    .text{

        display: flex;
        align-items: center;
        justify-content: center;

        }   
}
    
    