@import "variable";
@import "mixin";
@import "animation";

@import "layout";
@import "header";
@import "footer";
@import "searchBar";
@import "modalBtn";

main section#kitchen{
    padding: 4rem 0;
    background-color: $themeColor;
    .container-lg{
        display: flex;
        flex-direction: column;
        align-items: center;
        .textWrap{
            text-align: center;
            max-width: 576px;
            padding: 1rem;
            .kitchen-heading{
                margin-bottom: 2rem;
                font-weight: 700;
                letter-spacing: 2px;
                display: inline-block;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -1rem;
                    left: -10%;
                    width: 120%;
                    background-color: $textColor;
                    height: 14px;
                    border:6px solid #333;
                    border-left-width: 10px;
                    border-right-width: 10px;
    
                    border-top-color: $themeColor;
                    border-bottom-color: $themeColor;
                }
            }
            .desc{
                margin-top: 2rem;
                padding-top: 2rem;
                font-size: 1.125rem;
                font-weight: 600;
                letter-spacing: 2px;
                line-height: 2.5;
                @media screen and (max-width:768px){
                    margin-top: 0;
                    padding: 1rem 0;
                }
            }
        }
        .bottomWrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            @media screen and (max-width:768px) {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                .areaBtnWrap{
                    order: 1;
                    flex-direction: column;
                }
                .imgWrap{
                    // width: 300px;
                    @media screen and (max-width:768px){
                        width: 500px;
                        margin-right: 1rem;
                    }
                    @media screen and (max-width:576px){
                        width: 320px;
                    }
                    @media screen and (max-width:430px){
                        width: 280px;
                        margin-right: 0;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .areaBtnWrap{
            padding: 2rem 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            position: relative;
            @media screen and (max-width:768px) {
                padding: 0;
                align-items: flex-end;
                width: unset;
                justify-content: space-between;

                // height: 100%;
            }
            .area-btn{
                padding: 1.1875rem 2rem;
                width: 12rem;
                font-size: 1.75rem;
                font-weight: 700;
                letter-spacing: 2px;
                text-align: center;
                border-radius: 2.5rem;
                color: white;
                box-shadow: 10px 15px 30px rgba($color: #000000, $alpha: .25);
                position: relative;
                @media screen and (max-width:1140px) {
                    padding: 1rem;
                    width: 10rem;
                }
                @media screen and (max-width:992px) {
                    font-size: 1.5rem;
                    padding: .75rem 1rem;
                    border-radius: 2.5rem;
                    width: 8rem;
                    // position: absolute;
                    position: relative;
                    top: 0;
                    right: 0;
                }
                @media screen and (max-width:768px) {
                    font-size: 1.25rem;
                    width: 6rem;
                    padding: .5rem 1rem;
                    box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: .15);

                }
                @media screen and (max-width:576px){
                    font-size: 1.125rem;
                    width: 4.5rem;
                    padding: .25rem .5rem;
                }
            }
            .north{
                background-color: $purpleColor;
            }
            .mid{
                background-color: $redColor;
            }
            .south{
                background-color: $teaColor;
            }
            @media screen and (max-width:768px) {
                .north{
                    left: -60%;
                    // top: -8rem;
                }
                .mid{
                    left: -10%;
                }
                .south{
                    top: unset;
                    left: -60%;
                }
            }
            @media screen and (max-width:576px) {
                .north{
                    left: -35%;
                    // top: -8rem;
                }
                .mid{
                    left: 20%;
                    @media screen and (max-width:476px) {
                        left: 0;
                    }
                }
                .south{
                    top: unset;
                    left: -35%;
                }
            }
        }
    }
}

main section#location{
    background-color: #fff;
    // padding: 4rem 0;
    .searchWrap{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:576px) {
            margin-bottom: 1rem;
        }
    }
    .north-area{
        .area-title{
            color: $purpleColor;
            border: 5px solid $purpleColor;
        }
    }
    .mid-area{
        .area-title{
            color: $redColor;
            border: 5px solid $redColor;

        }
    }
    .south-area{
         .area-title{
             color: $teaColor;
            border: 5px solid $teaColor;
         }       
    }
    .area{
        // display: flex;
        padding: 4rem 0;
        flex-direction: column;
        margin-bottom: 4rem;
        display: none;
        .area-title{
            padding: 1rem 2rem;
            width: 10rem;
            font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: 3px;
            text-align: center;
            border-radius: 2.5rem;
            box-shadow: 10px 12px 24px rgba($color: #000000, $alpha: .15);
            @media screen and (max-width:992px) {
                font-size: 1.25rem;
                width: 8rem;
            }
            @media screen and (max-width:768px) {
                font-size: 1rem;
                width: 6rem;
                padding: .5rem 1rem;
                box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: .15);
                height: 50px;
            }
        }
        .locationWrap{
            position: relative;
            margin-top: 2rem;
        }
    }
    .area.active{
        display: flex;
    }
    .kitchen-location{
        display: flex;
        flex-direction: row;
        padding: 3rem 0rem 4rem;
        border-bottom: 1px solid #aaa;
        justify-content: space-evenly;
        &:first-child{
            &::before{
                content: '';
                position: absolute;
                top:-15px;
                top: 0;
                left: 0;
                width: 100%;
                background-color: $textColor;
                height: 15px;
                border:6px solid #333;
                border-left-width: 10px;
                border-right-width: 10px;

                border-top-color: #fff;
                border-bottom-color: #fff;
            }
        }
        @media screen and (max-width:992px) {
            flex-direction: column; 
            align-items: center;
            padding-right: 1rem;
            padding-left: 1rem;
        }
        @media screen and (max-width:576px) {
            padding: 2rem .75rem;
        }

        &:last-child{
            border-bottom: none;
        }
        &-img{
            width: 240px;
            height: 240px;
            background-size: cover;
            background-position:center;
            @media screen and (max-width:992px) {
                margin-bottom: 1.75rem;
            }
            img{
                width: 100%;
            }
        }
        .textWrap{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: calc(100% - 350px);
            // padding: 1rem;
            @media screen and (max-width:992px) {
                width: 100%;
            }
        }
        
        &-title{
            font-size: 1.5rem;
            font-weight: 800;
            margin-bottom: 1rem;
            @media screen and (max-width:992px) and(min-width:720px) {
                text-align: center;
            }
            @media screen and (max-width:576px) {
                font-size: 1.5rem;
            }
        }
        &-desc{
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 2;
            @media screen and (max-width:992px) {
                margin-bottom: 1rem;
            }
        }
        &-time{
            display: flex;
            justify-content: space-between;
            @media screen and (min-width:1080px) {
                margin-top: 1rem;
            }
            @media screen and (max-width:1080px) {
                align-items: flex-end;
            }
            .timeWrap{
                display: flex;
                align-items: center;
                @media screen and (max-width:1080px) {
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                }
            }
            .timing{
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 1.25rem;
                margin-right: 1.5rem;
                color: $greenColor;
                @media screen and (max-width:1140px) {
                    margin-right: 0.75rem;
                }
                @media screen and (max-width:1080px) {
                    margin: 1rem 0.25rem .5rem;
                    font-size: 1.125rem;  
                }
                @media screen and (max-width:720px) {
                    margin-bottom: 0.625rem;
                }
            }
            .weekWrap{
                display: flex;
                @media screen and (max-width:1080px) {
                    margin-left: -0.25rem;
                }   
                @media screen and (max-width:720px) {
                    flex-wrap: wrap;
                    width: 100%;
                }   
                
                .week{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 4.5rem;
                    height: 2.25rem;
                    margin-right: 1rem;
                    text-align: center;
                    font-size: 0.9rem;
                    font-weight: 800;
                    background-color: #cbccac;
                    color: white;
                    border-radius: 1.5rem;
                    line-height: 1.125;
                    @media screen and (max-width:1080px) {
                        margin-right: .5rem;
                    }
                    @media screen and (max-width:576px) {
                        margin-bottom: 0.5rem;
                        height: 2.125rem;
                        font-size: 0.8rem;
                        line-height: 1.1;
                    }
                    .en{
                        font-size: .75rem;
                    }
                }
            }
            .meal{
                display: flex;
                @media screen and (max-width:720px) {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                @media screen and (max-width:420px){
                    margin-right: -.5rem;
                }
                
                &>*{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-right: .5rem;
                    text-align: center;
                    background-color: $theme_darker;
                    line-height: 1.125;
                    font-weight: 600;
                    color: white;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    @media screen and (max-width:720px) {
                        margin-right: .5rem;
                        line-height: .9;
                        height: 2.5rem;
                        width: 2.5rem;
                        font-size: 0.9rem;
                        position: relative;
                        .ch{
                            position: relative;
                            top: -4px;
                        }
                        .en{
                            position: relative;
                            top: -4px;
                            font-size: .5rem;
                        }
                    }
                    @media screen and (max-width:576px){
                        margin-right: 0;
                        margin-left: .5rem;
                    }
                    @media screen and (max-width:350px){
                        margin-right: 0rem;
                        margin-left: 0.25rem;
                    }
                    .en{
                        font-size: .75rem;
                    }
                }
            }
        }
    }
}
