#belief{
    padding: 4rem 0 8rem;
    .container{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        max-width: 1140px;
        position: relative;
        height: 800px;
    }
    .bigImg{
        max-width: 780px;
        img{
            width: 100%;
        }
    }
    .descWrap{
        background-color: white;
        width: 576px;
        height: 640px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}