#pain-point{
    padding: 1rem 0 4rem;
    .container-xl{
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        max-width: 1140px;
        @media screen and (max-width:992px) {
            flex-direction: column;
        }
        .row{
            width: 100%;
            // justify-content: space-between;
        }
    }
    .pain{
        border: 6px solid $redColor;
        border-radius: 8px;
        max-width: calc(50% - 2rem);
        height: 336px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:992px) {
            margin-bottom: 2rem;
            height: unset;
        }
        @media screen and (max-width:600px) {
            max-width: unset;
        }
        &:nth-child(2n){
            border: 6px solid $greenColor;
        }
        img{
            width: 100%;
            text-align: center;
        }
    }
}